# Auto generated ssh config file 
ssh_config

# Ansible ignore
ansible/roles/k3s/vars/main.yml
ansible/inventory/hosts

# K3s 
kubeconfig/*

# Terraform ignore 
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

